<a href="https://colab.research.google.com/github/gimenopea/SEAS8515/blob/main/SEAS8515_Assignment2_PGimeno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 2 submission by

Paul Gimeno

pgimeno@gwu.edu

### Pre-processing Step: Defining global objects

In [ ]:
import pandas as pd
import os

#get the current working directory, this is globally scoped such that all functions can use it
WORKING_DIR = os.getcwd()

print(WORKING_DIR)

/content

### Task 1: Creating a function that performs basic operation in a dataframe

In [ ]:
try:
  with open('/USA_cars_datasets.csv') as file:
    #set the column to vin since this is the primary index for all the vehicles in the dataset. This is accomplished with the index_col parameter to the read_csv function
    df = pd.read_csv(file, index_col = 'vin')
    df.drop(columns=['Unnamed: 0'], inplace=True)

except FileNotFoundError:
  print(f'file not found in {WORKING_DIR}')
df.head(3)

,price,brand,model,year,title_status,mileage,color,lot,state,country,condition
vin,,,,,,,,,,,
jtezu11f88k007763,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,159348797,new jersey,usa,10 days left
2fmdk3gc4bbb02217,2899,ford,se,2011,clean vehicle,190552.0,silver,166951262,tennessee,usa,6 days left
3c4pdcgg5jt346413,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,167655728,georgia,usa,2 days left

In [ ]:
def multiply_cols(df: pd.DataFrame, col_1: str, col_2: str) -> pd.DataFrame:
    """
    Multiplies the values of two columns in a DataFrame and adds a new column with the results.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - col_1 (str): The name of the first column.
    - col_2 (str): The name of the second column.

    Returns:
    - pd.DataFrame: The DataFrame with an additional column containing the multiplied values.
    """

    new_col_name = f"{col_1}_{col_2}"
    df[new_col_name] = df[col_1] * df[col_2]
    return df


#calling this function on price and mileage

df_new = multiply_cols(df,col_1 = 'price',col_2 = 'mileage')

#result of multiply will be displayed in a new column called price_mileage
df_new.head(10)

,price,brand,model,year,title_status,mileage,color,lot,state,country,condition,price_mileage
vin,,,,,,,,,,,,
jtezu11f88k007763,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,159348797,new jersey,usa,10 days left,1.726937e+09
2fmdk3gc4bbb02217,2899,ford,se,2011,clean vehicle,190552.0,silver,166951262,tennessee,usa,6 days left,5.524102e+08
3c4pdcgg5jt346413,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,167655728,georgia,usa,2 days left,2.118065e+08
1ftfw1et4efc23745,25000,ford,door,2014,clean vehicle,64146.0,blue,167753855,virginia,usa,22 hours left,1.603650e+09
3gcpcrec2jg473991,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,167763266,florida,usa,22 hours left,1.843158e+08
2c4rdgeg9jr237989,5700,dodge,mpv,2018,clean vehicle,45561.0,white,167655771,texas,usa,2 days left,2.596977e+08
1gcsksea1az121133,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,167753872,georgia,usa,22 hours left,1.088065e+09
1gks2gkc3hr326762,13350,gmc,door,2017,clean vehicle,23525.0,gray,167692494,california,usa,20 hours left,3.140588e+08
1g1zd5st5jf191860,14600,chevrolet,malibu,2018,clean vehicle,9371.0,silver,167763267,florida,usa,22 hours left,1.368166e+08
2fmpk3j92hbc12542,5250,ford,mpv,2017,clean vehicle,63418.0,black,167656121,texas,usa,2 days left,3.329445e+08

### Task 2 and 3: Reading csv file and saving to current directory, applying the index parameter, and saving file to local directory

In [ ]:
with open('/USA_cars_datasets.csv') as file:
  #set the column to vin since this is the primary index for all the vehicles in the dataset. This is accomplished with the index_col parameter to the read_csv function
  df = pd.read_csv(file, index_col = 'vin')
  df.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
#writing a csv file with index set to true writes the index of the csv file as a new column. In this example, i set the index to VIN and it will be written as a column
df.to_csv(WORKING_DIR + '/cars_with_index.csv', index=True)

#re-reading the column and proof that vin is now in position 1 while having a new auto-generated index
pd.read_csv('cars_with_index.csv').head(2)

,vin,price,brand,model,year,title_status,mileage,color,lot,state,country,condition
0,jtezu11f88k007763,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,159348797,new jersey,usa,10 days left
1,2fmdk3gc4bbb02217,2899,ford,se,2011,clean vehicle,190552.0,silver,166951262,tennessee,usa,6 days left

In [ ]:
#writing a csv file with index set to False
df.to_csv(WORKING_DIR + '/cars_without_index.csv', index=False)

#as seen in the dataframe below, vin is no longer part of the dataframe columns since setting index=False drops it
pd.read_csv('cars_without_index.csv').head(2)

,price,brand,model,year,title_status,mileage,color,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,166951262,tennessee,usa,6 days left

### Task 4 and 5: Creating a list with 15 objects and write a for loop to upper case each element

In [ ]:
#list example using the different brands in our original dataframe
car_brands = list(df.brand.unique()[:15])
print(f'length of list: {len(car_brands)}')
print(car_brands)

length of list: 15
['toyota', 'ford', 'dodge', 'chevrolet', 'gmc', 'chrysler', 'kia', 'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac', 'hyundai', 'mazda']

In [ ]:
#converting all elements in the list with a for_loop
new_car_brands = list()
for item in car_brands:
  new_car_brands.append(item.upper())

print(new_car_brands)

['TOYOTA', 'FORD', 'DODGE', 'CHEVROLET', 'GMC', 'CHRYSLER', 'KIA', 'BUICK', 'INFINITI', 'MERCEDES-BENZ', 'JEEP', 'BMW', 'CADILLAC', 'HYUNDAI', 'MAZDA']

### Task 6: Modify the new_list with the 15 objects by inserting a null value at position [4] and a '&' at postion [9]. Print the list to show the new list.

In [ ]:
car_brands_v2 = car_brands.copy()

#insert null value at position 4
car_brands_v2.insert(4, None)
print(f'inserted null in position 4\n{car_brands_v2}')

#insert '&' in position 9
car_brands_v2.insert(9, '&')
print(f'inserted "&" in position 9\n{car_brands_v2}')

inserted null in position 4
['toyota', 'ford', 'dodge', 'chevrolet', None, 'gmc', 'chrysler', 'kia', 'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac', 'hyundai', 'mazda']
inserted "&" in position 9
['toyota', 'ford', 'dodge', 'chevrolet', None, 'gmc', 'chrysler', 'kia', 'buick', '&', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac', 'hyundai', 'mazda']

### Task 7: Write a For loop in combination with Try/Except and the new_list. Modify the new_list as needed to test both paths of the Try/Except. Show evidence of the Except logic.

In [ ]:
#adding an integer to the list such it triggers the except block
car_brands_v2[9] = 2;

new_list = []

for index, item in enumerate(car_brands_v2):
    if item is None:
        print(f'there is a null value in the list on position {index}')
        new_list.append(item)
    else:
        try:
            upper_cased_item = item.upper()
            new_list.append(upper_cased_item)
        except AttributeError:
            print(f'invalid data type on {item}')

print(f'old list: {car_brands_v2}')
print(f'new list: {new_list}')

there is a null value in the list on position 4
invalid data type on 2
old list: ['toyota', 'ford', 'dodge', 'chevrolet', None, 'gmc', 'chrysler', 'kia', 'buick', 2, 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac', 'hyundai', 'mazda']
new list: ['TOYOTA', 'FORD', 'DODGE', 'CHEVROLET', None, 'GMC', 'CHRYSLER', 'KIA', 'BUICK', 'INFINITI', 'MERCEDES-BENZ', 'JEEP', 'BMW', 'CADILLAC', 'HYUNDAI', 'MAZDA']

### Task 8: Create a dictionary with 10 key:value pairs (all lower case)

In [ ]:
countries_presidents = {
    "usa": "joe biden",
    "russia": "vladimir putin",
    "france": "emmanuel macron",
    "brazil": "jair bolsonaro",
    "south africa": "cyril ramaphosa",
    "mexico": "andrs manuel lopez obrador",
    "turkey": "recep tayyip erdoan",
    "argentina": "alberto fernandez",
    "ukraine": "volodymyr zelensky",
    "nigeria": "muhammadu buhari"
}

print(countries_presidents)
print(f'length of dataframe {len(countries_presidents)}')

{'usa': 'joe biden', 'russia': 'vladimir putin', 'france': 'emmanuel macron', 'brazil': 'jair bolsonaro', 'south africa': 'cyril ramaphosa', 'mexico': 'andrs manuel lopez obrador', 'turkey': 'recep tayyip erdoan', 'argentina': 'alberto fernandez', 'ukraine': 'volodymyr zelensky', 'nigeria': 'muhammadu buhari'}
length of dataframe 10

### Task 9: Use the dictionary created in the previous step to create a dateframe

In [ ]:
dataframe_rows = []
for rows in countries_presidents.items():
  dataframe_rows.append(rows)

#get a list of tuples which serve as rows in the dataframe
dataframe_rows

[('usa', 'joe biden'),
 ('russia', 'vladimir putin'),
 ('france', 'emmanuel macron'),
 ('brazil', 'jair bolsonaro'),
 ('south africa', 'cyril ramaphosa'),
 ('mexico', 'andrs manuel lopez obrador'),
 ('turkey', 'recep tayyip erdoan'),
 ('argentina', 'alberto fernandez'),
 ('ukraine', 'volodymyr zelensky'),
 ('nigeria', 'muhammadu buhari')]

In [ ]:
df_presidents = pd.DataFrame(dataframe_rows,columns=['Country','President'])
df_presidents

        Country                   President
0           usa                   joe biden
1        russia              vladimir putin
2        france             emmanuel macron
3        brazil              jair bolsonaro
4  south africa             cyril ramaphosa
5        mexico  andrs manuel lopez obrador
6        turkey         recep tayyip erdoan
7     argentina           alberto fernandez
8       ukraine          volodymyr zelensky
9       nigeria            muhammadu buhari

### Task 10: Create a For loop for the dictionary created in the previous 2 steps. For each key, make it upper case and save the new key:value pair to the dictionary.  Print the dictionary to see the old and new key:value pairs.

In [ ]:
countries_presidents_copy = {}

# Iterate through the original dictionary and add uppercase keys to the copy
for key, value in countries_presidents.items():
    upper_key = key.upper()
    countries_presidents_copy[upper_key] = value

# Print the copied dictionary with both original and new key-value pairs
print(f'old dictionary: {countries_presidents}')
print(f'new dictionary: {countries_presidents_copy}')

old dictionary: {'usa': 'joe biden', 'russia': 'vladimir putin', 'france': 'emmanuel macron', 'brazil': 'jair bolsonaro', 'south africa': 'cyril ramaphosa', 'mexico': 'andrs manuel lopez obrador', 'turkey': 'recep tayyip erdoan', 'argentina': 'alberto fernandez', 'ukraine': 'volodymyr zelensky', 'nigeria': 'muhammadu buhari'}
new dictionary: {'USA': 'joe biden', 'RUSSIA': 'vladimir putin', 'FRANCE': 'emmanuel macron', 'BRAZIL': 'jair bolsonaro', 'SOUTH AFRICA': 'cyril ramaphosa', 'MEXICO': 'andrs manuel lopez obrador', 'TURKEY': 'recep tayyip erdoan', 'ARGENTINA': 'alberto fernandez', 'UKRAINE': 'volodymyr zelensky', 'NIGERIA': 'muhammadu buhari'}

### Task 11: Create a For loop to iterate through the dataframe. State or show how each column in the dataframe is accessed.

In [ ]:
df_presidents

        Country                   President
0           usa                   joe biden
1        russia              vladimir putin
2        france             emmanuel macron
3        brazil              jair bolsonaro
4  south africa             cyril ramaphosa
5        mexico  andrs manuel lopez obrador
6        turkey         recep tayyip erdoan
7     argentina           alberto fernandez
8       ukraine          volodymyr zelensky
9       nigeria            muhammadu buhari

In [ ]:
# Iterate through the DataFrame using the iterrows method
for index, row in df_presidents.iterrows():
    #iterrows uses an iterator to gives us index, and row for each row. In this for loop, each iteration gives a row objection which represents 1 row of the dataframe
    country = row['Country']
    president = row['President']

    print(f"Country: {country}, President: {president}")

Country: usa, President: joe biden
Country: russia, President: vladimir putin
Country: france, President: emmanuel macron
Country: brazil, President: jair bolsonaro
Country: south africa, President: cyril ramaphosa
Country: mexico, President: andrs manuel lopez obrador
Country: turkey, President: recep tayyip erdoan
Country: argentina, President: alberto fernandez
Country: ukraine, President: volodymyr zelensky
Country: nigeria, President: muhammadu buhari

### Task 12: Practice using .iloc to slice the dataframe

In [ ]:
#using iloc means, indexing the dataframe based on position

#indexing the first
print(f'INDEXING THE FIRST ROW \n{"="*25}\n{df_presidents.iloc[0]} \n')

#indexing the last
print(f'INDEXING THE LAST ROW \n{"="*25}\n{df_presidents.iloc[-1]} \n')

#indexing the first two rows
print(f'INDEXING THE FIRST TWO ROWS \n{"="*25}\n{df_presidents.iloc[:2]} \n')

#indexing the last 5 rows
print(f'INDEXING THE FIRST TWO ROWS \n{"="*25}\n{df_presidents.iloc[-5:]} \n')

INDEXING THE FIRST ROW
=========================
Country            usa
President    joe biden
Name: 0, dtype: object

INDEXING THE LAST ROW
=========================
Country               nigeria
President    muhammadu buhari
Name: 9, dtype: object

INDEXING THE FIRST TWO ROWS
=========================
  Country       President
0     usa       joe biden
1  russia  vladimir putin

INDEXING THE FIRST TWO ROWS
=========================
     Country                   President
5     mexico  andrs manuel lopez obrador
6     turkey         recep tayyip erdoan
7  argentina           alberto fernandez
8    ukraine          volodymyr zelensky
9    nigeria            muhammadu buhari

### Task 13: Use the working directory command to show your current working directory

In [ ]:
#get the current working directory, this is globally scoped such that all functions can use it
WORKING_DIR = os.getcwd()

print(WORKING_DIR)

/content